html{
    background-color:rgba(0, 0, 0, 0.808);
    color:white;
}
ul{
    padding-left: 0px;
    list-style: none;
    border: solid white;
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
}

.menu{
    border:solid 2px blue;
    width: 150px;
    height: auto;
    background-color:black;
    border-radius: 40px;
}
li:hover{
    background-color:blue;
}
li{
    padding-left: 20px;
}

.pie{
    display:flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;
    border:solid;
    background-color: black;
}

.despliegue{
    background-color: gray;
    margin-left: 300px;
    margin-top:50px;
    position:absolute;
    border:solid 5px black;
    width: 800px;
    height: 400px;
}

.s1{
    display:flex;
    border:solid;
    width:  98%;
    margin-top:100px
}
.datos{
    display:flex;
    justify-content:center;
    align-items:center;
}

.zona1{
    border:solid;
}
.pul1{
    border:solid;
}
.temp1{
    border:solid;
}